body {
    background: url("background.jpg");
    text-align: center;
    background-size:cover;
}

h1 {
    color: orange;
}

h2 {
    color: orange;
}

#board {
    width: 480px;
    height: 480px;
    background-color: rgb(57, 8, 114);
    display:flex;
    flex-wrap: wrap;
    margin:0%auto;
    border-radius:30px 80px ;
    opacity:0.8;
    border :3px solid orange;
    z-index: -1;
}

#board div {
    width: 160px;
    height: 160px;
    background-image: url("pipe.png");
    background-size: cover;
    z-index: 1;

}

#board div img {
    width : 100px;
    height : 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}